# Exploring the Earth's Volcanos #

<img src="toby-elliott-RwkBCZhG9LU-unsplash.jpeg" style="width: 500px;"/>
![Photo by <a href="https://unsplash.com/@tobyelliott?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Toby Elliott</a> on <a href="https://unsplash.com/s/photos/volcano?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>]

In [23]:
# first read in the data
import pandas as pd

# okay...3 hours later (in SpongeBob narrator voice of course), wussed out and converted xmls
# fingers crossed

younger = pd.read_excel('GVP_Volcano_List_Holocene_2.xlsx')
older = pd.read_excel('GVP_Volcano_List_Pleistocene_2.xlsx')

countries = pd.read_html('https://volcano.si.edu/volcanolist_countries.cfm')[0]

countries.head()

,Country,HoloceneVolcanoes,Active since1800 CE,Active since1950 CE,Currently Erupting (27 January 2022)
0,Algeria,3,0,0,NaN
1,Antarctica,19,5,2,Erebus
2,Argentina,36,6,3,NaN
3,Armenia,5,0,0,NaN
4,Australia,3,2,2,NaN

In [26]:
# feel bad about "cheating", but IT WORKED!!
younger
# UGH NO IT DIDN'T >>>>>>>:-|

Empty DataFrame
Columns: []
Index: []

There is something wrong with those files. Google sheets won't open them either.

Okie dokie...let's do this:

In [27]:
holocene = pd.read_html('https://volcano.si.edu/volcanolist_holocene.cfm')[0]
pleis = pd.read_html('https://volcano.si.edu/volcanolist_pleistocene.cfm')[0]

holocene.head()

,Name,Subregion,Volcano Type,Evidence
0,Abu,Honshu,Shield(s),Eruption Dated
1,Acamarachi,"Northern Chile, Bolivia and Argentina",Stratovolcano,Evidence Credible
2,Acatenango,Guatemala,Stratovolcano(es),Eruption Observed
3,Acigol-Nevsehir,Turkey,Caldera,Eruption Dated
4,Adams,USA (Washington),Stratovolcano,Eruption Dated

In [28]:
# FINALLY!!!!!!
pleis.head()

,Name,Subregion,Volcano Type,Unnamed: 3
0,Aak,Kamchatka Peninsula,Stratovolcano(es),NaN
1,Acatlan Volcanic Field,Mexico,Caldera,NaN
2,Acoculco,Mexico,Caldera,NaN
3,Acotango,"Northern Chile, Bolivia and Argentina",Stratovolcano(es),NaN
4,Acquasparta,Italy,Volcanic field,NaN

In [30]:
print("There are {} holocene volcanos and {} pleistocene volcanos.".format(holocene.shape[0], pleis.shape[0]))

There are 1343 holocene volcanos and 1319 pleistocene volcanos.